*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background: rgb(17, 17, 17);
    border-radius: 20px;
}

.box h2 {
    font-size: 6em;
    
}