*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body { background-color: rgb(0, 0, 0);}

.background {
    background:  url(../images/spidermanPHONE.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: start;
    margin-left: 4px;
    gap: 1rem;
    font-size: 15px;
    
}

nav a:hover {
    color: blueviolet;
    transition: 0.2s linear;
    
}

nav a {
    color: #fff;
    font-weight: 500;
    
    
}

header {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    align-items: center;
    text-align: center;
    gap: 10rem;
}




.button-enter a {
    color: #fff;
    font-size: 18px;
}
.countainer {
    margin-left: 2%;
    margin-top: 35%;
    max-width: 100%;
    
}

.meio-countainer h1 {
    color: rgb(255, 255, 255);
    text-shadow:  0px 0px 20px  blueviolet;
    font-size: 68px;
}
.meio-countainer p {
    
    color: rgb(255, 255, 255);
    text-shadow:  0px 0px 10px  blueviolet;
    font-style: italic;
    font-weight: 500;
    margin-top: 1rem;
    line-height: 25px;
}


span i {
    color: #fff;
    font-size: 2em;
    display: flex;
    
}
.fundo {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.text {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.vdo {
    width: 300px;
    height: 190px;
    box-shadow: 0px 0px 10px blueviolet;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    margin: auto;
    
}

h1 {
    color: blueviolet;
    font-size: 95px;
    
}

p {
    font-style: italic;
    font-size: 1em;
}

.btn {
    border: 2px solid blueviolet;
    color: #fff;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 500;
    width: 180px;
    height: 40px;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.2s linear;
    border-radius: 15px;
  
}

.btn:hover {
    background-color: blueviolet;
    transition: 0.2s linear;
    transform: scale(1.04);
    cursor: pointer;
    border-radius: 10px;
}

.games p  {
    color: #fff;
    font-style: italic;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.games h1 {
    display: flex;
    justify-content: center;
}
.git-btn {
    display: flex;
    margin-top: 10px;
}

.git-btn span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    margin-left: 10px;
}

.git-btn span > i {
    color: rgb(255, 255, 255);
}

.git-btn li > a  {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 30px;
    cursor: pointer;
    color: #fff;
    width: 125px;
    height: 38px;
    border-radius: 4px;
    margin-left: 5px;
    border: 1px solid blueviolet;
    margin-top: 10px;
    justify-content: start;
    text-decoration: none;
    list-style: none;

}
.git-btn li > a:hover {
    background-color: blueviolet;
    transition: 0.2s linear;
    transform: scale(1.05);
}
.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
   
    opacity: 0.9;
    
    
}

.nav-link:hover {
    color: blueviolet;
}

.midle {
    padding: 50px 0px;
    
}
.midle span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    font-size: 4em;
    
}
.midle h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: rgb(255, 255, 255);
    text-shadow: 25px  blueviolet;
    font-weight: 500;
    font-size: 15px;
}

 .midle h3 {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    align-items: center;
    font-style: italic;
    color: blueviolet;
    text-shadow: 25px  blueviolet;
    font-weight: 500;
    font-size: 18px;

 }
    


.carousel-img {
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100vw; 
    
}
.carousel-img img {
    border-radius: 50px;
}
.redes-sociais {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    font-size: 2.5em;
    gap: 3rem;
}
.redes-sociais a {
    color: #fff;
    text-decoration: none;
}

.redes-sociais a:hover {
    color: blueviolet;
}
.fim-pag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: blueviolet;
    color: #fff;
    font-size: 5px;
}

.fim-pag footer > h1 {
    font-size: 20px;
}