*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: rgb(26, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
main {
    width: 70vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/maxresdefault\ \(1\).jpg);
    opacity: 0.4;
    background-size: cover;
    background-repeat: no-repeat;
}
.box {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background-color: rgb(26, 24, 24);
    box-shadow: 0px 0px 8px 0px rgb(255, 255, 255);
}

.box:hover {
    box-shadow: 0px 0px 9px rgb(95, 170, 255);
    transition: 0.5s linear;
}