*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {

    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(5, 5, 5);
}
main {
    background-image: url(../images/RETRATOCSS.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    width: 100vw;
    height: 80vh;
    background-position: center left;
    background-repeat: no-repeat;
    transition: 0.2s linear;
}

.box {
    position: relative;
    width: 330px;
    height: 405px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0); 
    overflow: hidden;
    border-radius: 20px;
    transition: 0.2s linear;
    
}

.boxvideo {
    width: 240px;
    height: 390px;
    border-radius: 20px;
    z-index: 11;
    transition: 0.2s linear;
}
.box:hover{
    opacity: 0.9;
}
.box::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(rgb(205, 237, 243), rgb(205, 237, 243));
    box-shadow: 0px 0px 20px  rgb(0, 255, 247);
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.box::after {
    content: '';
    position: absolute;
    inset: 4px;
    background-color: rgb(0, 0, 0); 
    
    border-radius: 20px;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    
}

.box h2 {
    position: relative;
    color: #fff;
    font-size: 2em;
    width: 210px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 5px 5px;
    z-index: 10;
    cursor: pointer;
    
    
}
.box span {
    position: relative;
    color: rgb(205, 237, 243);
    font-size: 6em;
    z-index: 10 ;
    transition: 0.2s linear;
    cursor: pointer;
}
.box span:hover{
    transition: 0.2s linear;
    transform:scale(1.07);
    color:rgb(205, 237, 243);
    text-shadow:   0px 0px 10px rgb(205, 237, 243);
}
.box h2:hover {
    background: linear-gradient(to left, rgb(200, 0, 255), rgb(190, 113, 213));
    color: black;
    border: black 1px solid;
    box-shadow: none;
    text-shadow: 0 0 10px black;
    transition: 0.2s linear;
}

.principal2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100vw;
    height: 600px;
    background-color: rgb(12, 11, 11);
}
.principal2 h2 {
    color: White;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 250px;
    padding: 20px 5px 20px 10px;
   transition: 0.2s linear;
}

span {
    color: violet;
    font-size: 45px; 
}
